


/*Tablet Style */

@media only screen and (min-width: 570px) {
  .container {
    width: 540px;
  }
}

 /*Desktop Style */
 @media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}


.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}





/* Top Navigation Bar */
.topnav {
  display: flex;
  gap: 100px;
  align-items: center; 
  justify-content: space-between; 
  background-color: #202020;
  padding: 0 150px; 
  

}



.topnav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 14px 16px;
  opacity: 60%;
  font-weight: 500;
  font-style: "Roboto";
  
}

.topnav .Courses {
  padding: 15px;
  width: 100px;
  margin-top: 0px;
  background-color: rgb(0, 255, 255);
  color: black;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;


}


.topnav a:hover {
  color: white;
  
}

.logo {
  flex: 1; /* Allow the logo section to take up equal space */
  text-align: center; /* Center the logo */
}

.logo img {
  height: 50px; /* Adjust the logo size */
}

/* Left Navigation Links */
.topnav a:first-of-type {
  margin-right: auto; /* Push these links to the left */
}


.info {

  margin-bottom: 100px;
  font-family: "Roboto";
  width: 600px;
  padding: 35px;
  margin: auto;
  text-align: center;
  margin-top: 0;
  
 
}


.Topic1 {
  font-family: "Roboto";
  font-size: 43px;
  font-weight: 600;
  
}

.Topic2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;

}
.Topic3 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.Topic4 {
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 200;
  
  
}

.Others {
  margin-bottom: 100px;
  font-family: "Roboto";
  width: 500px;
  padding: 20px;
  margin: auto;
  text-align: center;
  margin-top: 0;
  
  
}

.Name {
  padding: 15px;
  width: 450px;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 8px;

}

.Email {
  padding: 15px;
  width: 450px;
  margin-bottom: 10px;
  border-radius: 8px;

}

.button {
  padding: 15px;
  width: 483px;
  margin-top: 15px;
  background-color: aqua;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
 

}


/* Footer */
footer {
  text-align: center;
  color: white;
  margin-top: 200px;
  margin-bottom: 0px;
  border: 1px solid green;
  font-size: 10px;
  opacity: 22%;

 

}
